<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Pydja</title>
</head>
<body>
    
    <div class="container" style="padding: 3px;">

        <center>

            <div class="btn-group" role="group">
                <a class="btn btn-secondary btn-lg" href="/suppliers">Manage suppliers</a>
                <a class="btn btn-secondary btn-lg" href="/products">Manage products</a>
                <a class="btn btn-secondary btn-lg" href="http://careeria.fi">Recruit code professionals</a>
                <a class="btn btn-secondary btn-lg" href="/admin">Admin pages</a>
                <a class="btn btn-secondary btn-lg">Logout</a>
            </div>
              
              

            {% block content %}

            {% endblock %}

        </center>

    </div>

</body>
</html>